{{!-- Se agrega una consulta ? para usar el put --}}
<form action="/ventas/edit-venta/{{venta._id}}?_method=put" method="post">
    {{!-- Para usar el metodo PUT --}}
    <input type="hidden" name="_method" value="put">
    <div class="my-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" name="title" id="title" class="form-control" placeholder="Title" value="{{venta.title}}">
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Description:</label>
        <textarea name="description" id="description" class="form-control" placeholder="Description">{{venta.description}}</textarea>
    </div>
    <button class="btn btn-primary" type="submit">Save</button>
</form>