{{!-- Formulario --}}
<form action="/ventas/new-venta" method="post">
    <div class="mb-3 mt-3">
        <label for="title" class="form-label">Title:</label>
        <input type="text" name="title" id="title" class="form-control" placeholder="Title" autofocus>
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Description:</label>
        <textarea name="description" id="description" class="form-control" placeholder="Description"></textarea>
    </div>
    <button class="btn btn-primary" type="submit">Save</button>
</form>