<div class="car">
    <div class="card-body">
        <h1>Abuot</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi dolor officiis architecto nesciunt similique modi, optio cum expedita eum facere repudiandae eaque ab enim voluptas! Sequi maxime et ex est libero. Aliquam voluptates veritatis illo quae, eius vero, dolorem deleniti praesentium quos odio officia quasi, consectetur hic dolores facere sit? Dolores sit natus tempore accusantium enim veritatis tempora! Omnis suscipit molestiae ut aut excepturi nostrum doloribus nemo dolore labore? Saepe soluta, eum fuga neque natus vel ratione ad delectus ducimus?</p>
    </div>
</div>