<div class="jumbtron mt-4">
<h1 class="display-4">Venta App</h1>
<p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, qui. Praesentium eveniet corrupti temporibus aspernatur!</p>
<hr class="my-4">
<a href="#" class="btnbtn-primary">Prueba</a>
</div>